@tailwind base;
@tailwind components;
@tailwind utilities;


body{
    min-height:100vh;
}
@media only screen and (max-width: 600px) {
    .card {
      width: 100%;
      border: none;
      box-shadow: none;
      border-radius: 0;
    }
  }

  .collapse:not(.collapse-close) input[type=checkbox]:checked~.collapse-content {
    max-height:15rem;
    overflow-y: auto;
  }

.collapse-content::-webkit-scrollbar {
  width: 10px;
}

.collapse-content::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
.collapse-content::-webkit-scrollbar-thumb {
  background: #888; 
}

.collapse-content::-webkit-scrollbar-thumb:hover {
  background: #555; 
}





